.header {
  height: $header-height;padding: 0 $margin/2;position: relative;display: flex;flex-direction: row;align-items: center;
  .wrapper .icon {display: flex;align-items: center;cursor: pointer;}
  >div {
    height: 100%;display: flex;align-items: center;justify-content: center;padding: 0 $margin/2;
  }
  .links-hub,.user-box {
    ul.menus {
      display: none;
      position: fixed;top: $header-height;left: 0;bottom: $footer-height;width: $sidebar-width;
      margin: 0;padding: $margin 0;border-left: 1px solid $grey;border-right: 1px solid $grey;
      li {
        display: block;margin: 0;padding: 0;
        a {
          display: flex;align-items: center;justify-content: space-between;margin-bottom: 8px;padding: 0 $margin;line-height: 28px;
        }
        .description {
          font-size: $font-size-s;font-style: italic;line-height: 18px;opacity: .5;margin-bottom: 8px;padding: 0 $margin/2;
        }
        ul {
          display: none;
          position: absolute;top: 0;left: 100%;bottom: 0;width: $sidebar-width;
          margin: 0;padding: $margin 0;border-left: 1px solid $grey;border-right: 1px solid $grey;
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }
    .wrapper {
      height: 100%;display: flex;align-items: center;justify-content: center;
      &:hover {
        color: $primary;
        ul.menus {display: block;}
      }
    }
  }
  .links-hub {
    .icon {
      i {margin-right: $margin;}
    }
    img {height: 32px;margin-right: 5px;}
    h3 {color: #ffffff;font-size: 14px;text-transform: uppercase;
      &:hover {color: $primary;}
    }
  }
  .user-box {
    .user-info {padding: $margin/2;line-height: 18px;display: flex;}
    .display-name {}
    .email {font-size: $font-size-s;font-style: italic;}
    ul.menus {
      position: absolute;top: $header-height;right: 0;bottom: initial;left: initial;width: $sidebar-width;border: 1px solid $grey;
      li {
        &:hover {
          a {
            background-color: $grey;
          }
        }
      }
    }
  }
  .logo-box {
    display: none;
    a {
      img {
        height: $logo-height;
      }
    }
    h3 {color: $green;margin: 0 $margin;}
  }
  .search-box {
    flex: 1;
    .wrapper {
      flex: 1;display: flex;flex-direction: row;align-items: center;justify-content: flex-end;
      input {
        background-color: $lightdark;color: #f3f3f3;font-size: 14px;
      }
    }
  }
}
