.page {
  .content {
    padding-top: $margin;padding-bottom: $margin;
    padding-left: $sidebar-width + $margin;
    padding-right: 2*$margin;
    .interface-systems {
      display: flex;justify-content: center;
      .interface-system {
        display: flex;align-items: center;justify-content: center;flex-direction: column;
        margin: $margin/2;height: 60px;min-width: 150px;
        border: 1px solid #fff;background-color: #fff;
        &:hover {
          background-color: $lightgrey;
        }
      }
    }
    .view-settings {
      display: flex;margin-bottom: $margin;
      .columns-selection {flex: 1;}
      .switch-view {
        width: 70px !important;
        >div {
          justify-content: flex-end;
          >label {float: none !important;width: auto !important;}
          >div {margin: 0 0 0 3px !important;float: none !important;}
        }
      }
    }
  }
}
.page.has-sidebar-left-collapsed {
  .content {
    padding-left: $sidebar-left-width-collapsed + $margin;
  }
}
.page.has-sidebar-right-collapsed {
  .content {
  }
}
