.page .content .products-list {
  .view-toolbar {
    .seach-field {}
  }
  .output-models {padding: 12px 0;}
  .model-attributes {
    width: 100%;margin-bottom: $margin;
    .model-attribute {}
    .model-attribute-info {display: flex;}
    .model-attribute-name {
      font-size: 14px;color: $blue;
      padding: 0 5px 0 0;
    }
    .model-attribute-value {}
    .model-attribute-description {
      font-style: italic;opacity: .5;
    }
  }
  .model-interfaces {
    border-color: $lightgrey;border-style: solid;border-width: 1px 1px 0 0;
    width: 100%;
    thead, tbody, tr, th, td {border-color: inherit;border-style: inherit;}
    th {text-align: center;background-color: $grey;}
    th,td {
      border-width: 0 0 1px 1px;
      padding: 3px 5px;margin: 0;
    }
  }
  .row-detail, .row-detail td {
    background-color: #ffffff !important;
  }
}
