.page .content .products-list {
  .view-toolbar {
    display: flex;align-items: flex-start;justify-content: space-between;
    background-color: #ffffff;border-bottom: 1px solid $lightgrey;
    .seach-field {}
  }
  .heading {color: $blue;font-size: 120%;margin-bottom: $margin/2;}
  .name {color: $blue;}
  .value {}
  .description {font-size: 80%;font-style: italic;opacity: .5;}
  .data-element {padding: $margin 0;}
  .output-models {
    .output-model {
      display: inline-block;width: 50%;overflow: hidden;padding: 0 $margin/2;
    }
  }
  .model-attributes {
    width: 100%;margin-bottom: $margin;
    .model-attribute {}
    .info {display: flex;}
    .name {
      padding: 0 5px 0 0;
    }
  }
  .model-interfaces {
    border-color: $lightgrey;border-style: solid;border-width: 1px 1px 0 0;
    width: 100%;
    thead, tbody, tr, th, td {border-color: inherit;border-style: inherit;}
    th {text-align: center;background-color: $grey;font-weight: normal;}
    th,td {
      border-width: 0 0 1px 1px;
      padding: 3px 5px;margin: 0;
    }
  }
  .row-detail, .row-detail td {
    background-color: #ffffff !important;
  }
  .table table td > a {display: block;width: 100%;height: 100%;}
}
