.page .content .products-list {
  .view-toolbar {
    .seach-field {}
  }
  .output-models {padding: 12px 0;}
  .model-attributes {
    .model-attribute {}
    .model-attribute-info {display: flex;}
    .model-attribute-name {
      font-size: 14px;color: $blue;
      padding: 0 5px 0 0;
    }
    .model-attribute-value {}
    .model-attribute-description {
      font-style: italic;opacity: .5;
    }
  }
  .model-interfaces {
    .model-interface {}
    .model-interface-contextName {font-size: 14px;color: $blue;}
    .model-interface-source-target {
      display: flex;align-items: center;justify-content: space-between;padding: 3px $margin;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      .model-interface-sourceSystem {
      }
      .model-interface-sourceName {
        color: $green;
      }
      .model-interface-derivedName {
      }
      .model-interface-derivedLogic {
        font-style: italic;opacity: .5;
      }
      .model-interface-source {
        display: flex;align-items: center;justify-content: center;
      }
      .model-interface-logic {
        display: flex;flex-direction: column;align-items: center;justify-content: center;
        i {font-size: 32px;}
      }
      .model-interface-target {
        display: flex;align-items: center;justify-content: center;
      }
      &:hover {
        background-color: $lightgrey;
      }
    }
  }
}
