.page {
  .sidebar-right {
    position: fixed;top: $header-height;width: $sidebar-width - $margin;bottom: $footer-height;right: 0;padding: 0 $margin/2;
    z-index: 10;display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;
    >*{width: 100%;}
    .sidebar-right-search-section {
      h4 {margin: $margin/2 0;}
      .data-element-table-columns-selection {
        .choices {
          .choice {
            display: inline-block !important;width: auto !important;margin-right: $margin;
            label {color: $primary !important;}
          }
        }
      }
    }
  }
}
.page.has-sidebar-right-collapsed {
  .sidebar-right {
    width: $sidebar-right-width-collapsed;padding: 0;
    >*{width: auto;margin: auto;}
  }
}
