<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9 login-pf"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
<head>

<title>{apptitle}</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{appdescription}"/>

<link href="/static/material/material-icons.css" rel="stylesheet"/>

<!-- inject:css -->
<link href="/static/{app}/zzz.css" rel="stylesheet"/>
<!-- endinject -->

<script src="/static/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/colresizable/colResizable-1.6.min.js"></script>

</head>
<body>

<div id="application">
<div id="header"></div>
<div id="container"></div>
<div id="footer"></div>
</div>

<!-- inject:js -->
<script src="/static/{app}/zzz-lib-0.js"></script>
<script src="/static/{app}/zzz-lib-1.js"></script>
<script src="/static/{app}/zzz-lib-2.js"></script>
<script src="/static/{app}/zzz.js"></script>
<!-- endinject -->

</body>
</html>
