<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9 login-pf"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
<head>

<title>{APPNAME}</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- inject:css -->
<!-- endinject -->

<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/colresizable/colResizable-1.6.min.js"></script>

</head>
<body>

<div id="application">
<div id="header"></div>
<div id="container"></div>
<div id="footer"></div>
</div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
