.default-box {
  background-color: #ffffff;
  color: #333333; }

.grey-box {
  background-color: #eeeeee;
  color: #333333; }

.lightgrey-box {
  background-color: #f4f4f4;
  color: #333333; }

.dark-box {
  background-color: #212121;
  color: #f3f3f3; }

.lightdark-box {
  background-color: #444444;
  color: #f3f3f3; }

.header {
  height: 56px;
  padding: 0 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header .wrapper .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; }
  .header .links-hub ul.menus, .header .user-box ul.menus {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 40px;
    width: 240px;
    z-index: 10;
    margin: 0;
    padding: 16px 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
    .header .links-hub ul.menus li, .header .user-box ul.menus li {
      display: block;
      margin: 0;
      padding: 0; }
      .header .links-hub ul.menus li a, .header .user-box ul.menus li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        padding: 0 16px;
        line-height: 28px; }
      .header .links-hub ul.menus li .description, .header .user-box ul.menus li .description {
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        opacity: .5;
        margin-bottom: 8px;
        padding: 0 8px; }
      .header .links-hub ul.menus li ul, .header .user-box ul.menus li ul {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 240px;
        z-index: 10;
        width: 240px;
        margin: 0;
        padding: 16px 0;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee; }
      .header .links-hub ul.menus li:hover > ul, .header .user-box ul.menus li:hover > ul {
        display: block; }
  .header .links-hub:hover, .header .user-box:hover {
    color: #32c8fe; }
    .header .links-hub:hover ul.menus, .header .user-box:hover ul.menus {
      display: block; }
  .header .user-box .user-info {
    padding: 8px;
    line-height: 18px;
    display: flex; }
  .header .user-box .email {
    font-size: 12px;
    font-style: italic; }
  .header .user-box ul.menus {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: initial;
    left: initial;
    width: 240px;
    border: 1px solid #eeeeee; }
    .header .user-box ul.menus li:hover a {
      background-color: #eeeeee; }
  .header .logo-box a img {
    height: 40px; }
  .header .search-box {
    flex: 1; }
.default-box, .left-sidebar.collapsed .tree ul li.node li.node .node-name:hover {
  background-color: #ffffff;
  color: #333333; }

.grey-box, .left-sidebar.collapsed .tree ul li.node li.node .node-name {
  background-color: #eeeeee;
  color: #333333; }

.lightgrey-box {
  background-color: #f4f4f4;
  color: #333333; }

.dark-box {
  background-color: #212121;
  color: #f3f3f3; }

.lightdark-box {
  background-color: #444444;
  color: #f3f3f3; }

.left-sidebar {
  position: fixed;
  top: 56px;
  width: 240px;
  bottom: 40px;
  left: 0;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .left-sidebar > * {
    width: 100%; }
  .left-sidebar .search {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .left-sidebar .search input {
      flex: 1;
      margin: 0 3px; }
  .left-sidebar .tree {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    flex: 1; }
    .left-sidebar .tree .node-name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      line-height: 30px; }
    .left-sidebar .tree ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .left-sidebar .tree ul li.node {
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 0; }
        .left-sidebar .tree ul li.node li.node {
          padding-left: 8px; }
          .left-sidebar .tree ul li.node li.node li.node {
            padding-left: 16px; }
            .left-sidebar .tree ul li.node li.node li.node li.node {
              padding-left: 24px; }
  .left-sidebar.collapsed {
    width: 40px;
    padding: 0; }
    .left-sidebar.collapsed .search {
      justify-content: center; }
    .left-sidebar.collapsed .tree ul li.node {
      padding-left: 0; }
      .left-sidebar.collapsed .tree ul li.node li.node {
        padding-left: 0; }
        .left-sidebar.collapsed .tree ul li.node li.node .node-name {
          height: 28px;
          width: 28px;
          overflow: hidden;
          margin: 5px auto;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4px; }
          .left-sidebar.collapsed .tree ul li.node li.node .node-name:hover {
            font-size: 12px;
            border-radius: 0;
            width: auto;
            overflow: visible;
            padding: 0 3px; }
        .left-sidebar.collapsed .tree ul li.node li.node .node-name {
          color: red; }
        .left-sidebar.collapsed .tree ul li.node li.node li.node {
          padding-left: 0; }
          .left-sidebar.collapsed .tree ul li.node li.node li.node .node-name {
            color: green; }
          .left-sidebar.collapsed .tree ul li.node li.node li.node li.node {
            padding-left: 0; }
            .left-sidebar.collapsed .tree ul li.node li.node li.node li.node .node-name {
              color: blue; }
.default-box, body {
  background-color: #ffffff;
  color: #333333; }

.grey-box {
  background-color: #eeeeee;
  color: #333333; }

.lightgrey-box {
  background-color: #f4f4f4;
  color: #333333; }

.dark-box {
  background-color: #212121;
  color: #f3f3f3; }

.lightdark-box {
  background-color: #444444;
  color: #f3f3f3; }

html {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body #header, body #container, body #footer {
    width: 100%; }
  body #container {
    flex: 1;
    display: flex;
    flex-direction: column; }
    body #container .viewport {
      flex: 1;
      display: flex;
      flex-direction: column; }
      body #container .viewport .page {
        flex: 1;
        display: flex;
        flex-direction: column; }
      body #container .viewport .login-page {
        align-items: center;
        justify-content: center; }
        body #container .viewport .login-page .login-form {
          width: 30%;
          padding: 24px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.9); }
          body #container .viewport .login-page .login-form h1 {
            color: #32c8fe; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #32c8fe; }

i {
  cursor: pointer; }
  i:hover {
    color: #32c8fe; }

h1, h2 {
  font-weight: normal; }

h3, h4, h5 {
  font-weight: normal; }

input[type=text], input[type=password], input[type=email], input[type=url] {
  height: 24px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0 3px; }
.default-box {
  background-color: #ffffff;
  color: #333333; }

.grey-box {
  background-color: #eeeeee;
  color: #333333; }

.lightgrey-box {
  background-color: #f4f4f4;
  color: #333333; }

.dark-box {
  background-color: #212121;
  color: #f3f3f3; }

.lightdark-box {
  background-color: #444444;
  color: #f3f3f3; }

.footer {
  height: 40px;
  padding: 0 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer .children .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .footer > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; }

/*# sourceMappingURL=app.css.map*/