.default-box, body, .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 .node-name:hover {
  background-color: #ffffff;
  color: #333333; }

.grey-box, .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 .node-name {
  background-color: #eeeeee;
  color: #333333; }

.lightgrey-box {
  background-color: #f4f4f4;
  color: #333333; }

.dark-box {
  background-color: #212121;
  color: #f3f3f3; }

.lightdark-box {
  background-color: #444444;
  color: #f3f3f3; }

.header {
  height: 56px;
  padding: 0 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header .wrapper .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; }
  .header .links-hub ul.menus, .header .user-box ul.menus {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 24px;
    width: 280px;
    z-index: 10;
    margin: 0;
    padding: 16px 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
    .header .links-hub ul.menus li, .header .user-box ul.menus li {
      display: block;
      margin: 0;
      padding: 0; }
      .header .links-hub ul.menus li a, .header .user-box ul.menus li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        padding: 0 16px;
        line-height: 28px; }
      .header .links-hub ul.menus li .description, .header .user-box ul.menus li .description {
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        opacity: .5;
        margin-bottom: 8px;
        padding: 0 8px; }
      .header .links-hub ul.menus li ul, .header .user-box ul.menus li ul {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 280px;
        z-index: 10;
        width: 280px;
        margin: 0;
        padding: 16px 0;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee; }
      .header .links-hub ul.menus li:hover > ul, .header .user-box ul.menus li:hover > ul {
        display: block; }
  .header .links-hub:hover, .header .user-box:hover {
    color: #32c8fe; }
    .header .links-hub:hover ul.menus, .header .user-box:hover ul.menus {
      display: block; }
  .header .user-box .user-info {
    padding: 8px;
    line-height: 18px;
    display: flex; }
  .header .user-box .email {
    font-size: 12px;
    font-style: italic; }
  .header .user-box ul.menus {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: initial;
    left: initial;
    width: 280px;
    border: 1px solid #eeeeee; }
    .header .user-box ul.menus li:hover a {
      background-color: #eeeeee; }
  .header .logo-box a img {
    height: 40px; }
  .header .logo-box h3 {
    color: #1a9530;
    margin: 0 16px; }
  .header .search-box {
    flex: 1; }
    .header .search-box .wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .header .search-box .wrapper input {
        background-color: #444444;
        color: #f3f3f3;
        font-size: 14px; }

.footer {
  height: 24px;
  padding: 0 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer .children .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .footer > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; }

html {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body #header, body #container, body #footer {
    width: 100%; }
  body #container {
    flex: 1;
    display: flex;
    flex-direction: column; }
    body #container .viewport {
      flex: 1;
      display: flex;
      flex-direction: column; }
      body #container .viewport .page {
        flex: 1;
        display: flex;
        flex-direction: column; }
      body #container .viewport .login-page {
        align-items: center;
        justify-content: center; }
        body #container .viewport .login-page .login-form {
          width: 30%;
          padding: 24px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.9); }
          body #container .viewport .login-page .login-form h1 {
            color: #32c8fe; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #32c8fe; }

i {
  cursor: pointer; }
  i:hover {
    color: #32c8fe; }

h1, h2 {
  font-weight: normal; }

h3, h4, h5 {
  font-weight: normal; }

input[type=text], input[type=password], input[type=email], input[type=url] {
  height: 24px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0 3px; }

.page .wrapper {
  flex: 1; }

.page .sidebar-left {
  position: fixed;
  top: 56px;
  width: 264px;
  bottom: 24px;
  left: 0;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .page .sidebar-left > * {
    width: 100%; }
  .page .sidebar-left .sidebar-left-search {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .page .sidebar-left .sidebar-left-search input {
      flex: 1;
      margin: 0 3px; }
  .page .sidebar-left .hierarchy {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    flex: 1; }
    .page .sidebar-left .hierarchy .node-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 30px; }
    .page .sidebar-left .hierarchy ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .page .sidebar-left .hierarchy ul li.node {
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 0; }
      .page .sidebar-left .hierarchy ul li.node .node-name i {
        font-size: 12px;
        margin-right: 5px; }
      .page .sidebar-left .hierarchy ul li.node-lv-0 > .node-name:first-child {
        display: none; }
      .page .sidebar-left .hierarchy ul li.node-lv-1 > .node-name a:before {
        content: ''; }
      .page .sidebar-left .hierarchy ul li.node-lv-2 > .node-name a:before {
        content: ':.  '; }
      .page .sidebar-left .hierarchy ul li.node-lv-3 > .node-name a:before {
        content: ':..  '; }
      .page .sidebar-left .hierarchy ul li.node-lv-4 > .node-name a:before {
        content: ':...  '; }

.page.has-sidebar-left-collapsed .sidebar-left {
  width: 40px;
  padding: 0; }
  .page.has-sidebar-left-collapsed .sidebar-left .sidebar-left-search {
    justify-content: center; }
  .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 i {
    display: none; }
  .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 .node-name {
    height: 28px;
    width: 28px;
    overflow: hidden;
    margin: 5px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4px;
    white-space: nowrap; }
    .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 .node-name:hover {
      font-size: 12px;
      border-radius: 0;
      width: 100px;
      overflow: visible;
      padding: 0 3px;
      display: block; }
      .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 .node-name:hover a:before {
        display: none; }
  .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-1 > .node-name a {
    color: red; }
  .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-2 > .node-name a {
    color: green; }
  .page.has-sidebar-left-collapsed .sidebar-left .hierarchy ul li.node-lv-3 > .node-name a {
    color: blue; }

.page .content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 296px;
  padding-right: 32px; }
  .page .content .interface-systems {
    display: flex;
    justify-content: center; }
    .page .content .interface-systems .interface-system {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 8px;
      height: 60px;
      min-width: 150px;
      border: 1px solid #fff;
      background-color: #fff; }
      .page .content .interface-systems .interface-system:hover {
        background-color: #f4f4f4; }

.page.has-sidebar-left-collapsed .content {
  padding-left: 56px; }

.page .sidebar-right {
  position: fixed;
  top: 56px;
  width: 264px;
  bottom: 24px;
  right: 0;
  padding: 0 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .page .sidebar-right > * {
    width: 100%; }

.page.has-sidebar-right-collapsed .sidebar-right {
  width: 24px;
  padding: 0; }
