@import "./constants/__styles__.scss";
@import "./header/__styles__.scss";
@import "./footer/__styles__.scss";

html {
  height: 100%;
}
body {
  @extend .default-box;
  font-family: 'Roboto', sans-serif;-webkit-font-smoothing: antialiased;
  font-size: $font-size;line-height: $line-height;
  margin: 0;padding: 0;min-height: 100%;
  #header,#container,#footer {width: 100%;}
  #header {
    position: fixed;height: $header-height;z-index: 10;
  }
  #footer {
    position: fixed;bottom: 0;height: $footer-height;
    &:after {content: '';display: block;height: 1px;width: 100%;background-color: $dark;position: absolute;top: 0;left: 0;}
  }
  #container {
    position: fixed;top: $header-height;bottom: $footer-height;overflow: hidden;
    display: flex;flex-direction: column;
    .viewport {
      flex: 1;display: flex;flex-direction: column;
      .page {
        flex: 1;display: flex;flex-direction: column;
      }
      .login-page {
        align-items: center;justify-content: center;
        .login-form {
          width: 30%;
          padding: 24px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, .9);
          h1 {
            color: $blue;
          }
        }
      }
    }
  }
}
a {cursor: pointer;text-decoration: none;color: inherit;
  &:hover {color: $blue;}
}
i {cursor: pointer;
  &:hover {color: $blue;}
}
h1,h2 {font-weight: normal;}
h3,h4,h5 {font-weight: normal;}
input[type=text],input[type=password],input[type=email],input[type=url] {
  height: $line-height;border: none;outline: none;border-radius: 3px;padding: 0 3px;
}
.page {
  .wrapper {
    flex: 1;
  }
}
