.breadcrumbs {
    @extend .secondary-box;
    padding: $margin/2 $margin;
    display: flex;align-items: center;justify-content: space-between;
    .links {
        flex: 1;
        .breadcrumb {
            font-weight: 600;margin-right: $margin;
            &:after {
                content: '/';margin-left: $margin;
            }
            &:last-child {
                font-weight: 400;margin-right: 0;color: $primary2;cursor: text;
                &:after {display: none;}
            }
        }
    }
}
