#application {
    position: fixed;top: 0;right: 0;bottom: 0;left: 0;
}
#header,#container,#footer {width: 100%;}
#header {
    position: fixed;height: $header-height;
}
#footer {
    position: fixed;bottom: 0;height: $footer-height;
}
#container {
    position: fixed;top: $header-height;bottom: $footer-height;overflow: hidden;
    display: flex;flex-direction: column;
    .viewport {
        flex: 1;display: flex;flex-direction: column;
    }
}
