.page {
  .wrapper {
    flex: 1;display: flex;
    .content {
      flex: 1;overflow: auto;
    }
    .breadcrumbs {
      display: flex;align-items: flex-start;justify-content: space-between;
      h2 {margin: 0 0 $margin;color: $primary;}
      .switch-view {
        width: 70px !important;
        >div {
          justify-content: flex-end;
          >label {float: none !important;width: auto !important;}
          >div {margin: 0 0 0 3px !important;float: none !important;}
        }
      }
    }
  }
}
