@include keyframes(sidebar-right-expanding) {
    0% {width: $sidebar-right-width-collapsed;}
    100% {width: $sidebar-width -$margin;}
}
@include keyframes(sidebar-right-collapsing) {
    0% {width: $sidebar-width -$margin;}
    100% {width: $sidebar-right-width-collapsed;}
}
.sidebar-right {
    @include animation('sidebar-right-expanding .5s 1');
    position: fixed;right: 0;top: $header-height;width: $sidebar-width - $margin;bottom: $footer-height;padding: 0 $margin/2;
    display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;
    > * {width: 100%;}
}
.page.has-sidebar-right-collapsed .sidebar-right {
    @include animation('sidebar-right-collapsing .5s 1');
    width: $sidebar-right-width-collapsed;padding: 0;
}
