@import "./constants/__init__.scss";
.default-box {
  background-color: $bg-color;
  color: $text-color;
}
.grey-box {
  background-color: $bg-grey-color;
  color: $text-grey-color;
}
.lightgrey-box {
  background-color: $bg-lightgrey-color;
  color: $text-lightgrey-color;
}
.dark-box {
  background-color: $bg-dark-color;
  color: $text-dark-color;
}
.lightdark-box {
  background-color: $bg-lightdark-color;
  color: $text-lightdark-color;
}

html {
  height: 100%;
}
body {
  @extend .default-box;
  font-family: sans-serif;font-size: $font-size;line-height: $line-height;
  margin: 0;padding: 0;min-height: 100%;display: flex;flex-direction: column;
  #header,#container,#footer {width: 100%;}
  #container {
    flex: 1;display: flex;flex-direction: column;
    .viewport {
      flex: 1;display: flex;flex-direction: column;
      .page {
        flex: 1;display: flex;flex-direction: column;
      }
      .login-page {
        align-items: center;justify-content: center;
        .login-form {
          width: 30%;
          padding: 24px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, .9);
          h1 {
            color: $blue;
          }
        }
      }
    }
  }
}
a {cursor: pointer;text-decoration: none;color: inherit;}
h1,h2 {font-weight: normal;}
h3,h4,h5 {font-weight: normal;}
