@mixin animation($anims...) {
    $max: length($anims);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($anims, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    animation: $animations;
}
@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(fade-in) {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(60px);
    }
}
@include keyframes(fade-out) {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
