$green: rgba(26, 149, 48, 1);
$greena: rgba(26, 149, 48, .5);
$blue:  rgba(50, 200, 254, 1);
$bluea:  rgba(50, 200, 254, .5);

$grey: rgba(238, 238, 238, 1);
$lightgrey: #f4f4f4;
$dark: #212121;
$lightdark: #444444;

$bg-color: #ffffff;
$bg-grey-color: $grey;
$bg-lightgrey-color: $lightgrey;
$bg-dark-color: $dark;
$bg-lightdark-color: $lightdark;
$text-color: #333333;
$text-grey-color: #333333;
$text-lightgrey-color: #333333;
$text-dark-color: #f3f3f3;
$text-lightdark-color: #f3f3f3;

$node-level-1-color: red;
$node-level-2-color: green;
$node-level-3-color: blue;
