$primary: #69BE28;
$primary1: #005C84;
$primary2: #FFFFFF;

$secondary: #0075B0;
$secondary1: #3F9c35;
$secondary2: #009FDA;

$grey: #5D5D5D;
$grey1: #777777;
$grey2: #999999;

$disabled: $grey2;

$border-color: $grey2;

$bg-color: rgba(87,195,201,.1);
$bg-color1: rgba(87,195,201,.1);
$bg-color2: rgba(87,195,201,.15);
$bg-color3: rgba(87,195,201,.2);
$bg-color4: rgba(87,195,201,.25);
$bg-color5: rgba(87,195,201,.3);
$bg-color6: rgba(87,195,201,.35);
$bg-color7: rgba(87,195,201,.4);
$bg-color8: rgba(87,195,201,.45);
$bg-color9: rgba(87,195,201,.5);
$bg-color10: rgba(87,195,201,.55);

$text-color: #000000;
$text-color-inverse: #ffffff;

$hilight-color: #0075B0;
