$primary: #69BE28;
$primary1: #005C84;
$primary2: #FFFFFF;

$secondary: #0075B0;
$secondary1: #3F9c35;
$secondary2: #009FDA;

$grey: #5D5D5D;
$grey1: #777777;
$grey2: #999999;

$disabled: $grey2;

$border-color: $grey2;

$bg-color1: rgba(224,244,245,1);
$bg-color2: rgba(208,238,239,1);
$bg-color3: rgba(194,233,235,1);
$bg-color4: rgba(181,229,231,1);
$bg-color5: rgba(169,224,227,1);
$bg-color6: rgba(158,220,224,1);
$bg-color7: rgba(147,217,220,1);
$bg-color8: rgba(127,213,217,1);
$bg-color9: rgba(129,210,214,1);
$bg-color10: rgba(121,207,211,1);

$bg-color: $bg-color1;

$text-color: #000000;
$text-color-inverse: #ffffff;

$hilight-color: #0075B0;
