$margin: 16px;
$header-height: 56px;
$header-padding-top: $margin;
$logo-height: 40px;

$footer-height: 16px;
$footer-padding-top: $margin;

$font-size: 14px;
$font-size-s: 12px;
$font-size-xs: 10px;
$font-size-xxs: 6px;
$line-height: 24px;

$bar-height: 40px;
$bar-height-s: $margin;

$sidebar-width: 260px;
$sidebar-left-width-collapsed: 40px;
$sidebar-right-width-collapsed: $margin;
