@media only screen and (max-width: $application-width) {
    .container {
        width: $application-width-s2;
    }
}
@media only screen and (max-width: $application-width-s2) {
    .container {
        width: $application-width-s3;
    }
}
@media only screen and (max-width: $application-width-s3) {
    .container {
        width: $application-width-s4;
    }
}
@media only screen and (max-width: $application-width-s4) {
    .container {
        width: $application-width-s5;
    }
}
@media only screen and (max-width: $application-width-s5) {
    .container {
        width: 100%;
    }
}
